@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Cormorant Garamond', serif;
  --font-cinzel: 'Cinzel', serif;
  --animate-pulse: 2.5s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}