@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Cormorant Garamond', serif;
  --font-cinzel: 'Cinzel', serif;
}